.graphContainer {
    width: 30vw;
    height: 20vh;
    background: white;
    padding: 10px;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .graphContainer {
        width: 80vw;
    }
}